.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register {
  background-color: teal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  div {
    text-align: left;
    div {
      margin: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        margin: 0px;
      }
      label {
        margin-right: 10px;
      }
      input {
        align-self: flex-end;
      }
    }
  }
  align-self: center;
  button {
    width: 70px;
    margin-right: 20px;
    padding: 10px;
  }
  select {
    width: 170px;
  }
}