.app{
  display: flex;
  flex-direction: row;
  background-image: url('./Images/TPMS.png') ;
}
.layout{
 background-color: rgba(36, 41, 41, 0.552);
 flex: 1;
 padding-right: 20px;
 padding-top: 30px;
 height: 100vh;
}
.user-form{
  flex: 4;
display: flex;
justify-content: center;
align-items: center;
margin-left: 80px;

}